# somewhat cribbed from https://jacobian.org/til/github-actions-poetry/
# and https://github.com/marketplace/actions/python-poetry-action
---
name: Install and test
on:
  pull_request:
    types:
      - opened
      - synchronize
      - ready_for_review

jobs:
  install_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Repo checkout
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Cache Poetry Install
        uses: actions/cache@v4
        with:
          path: ~/.local
          key: poetry-1.1.12-0

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v4
        with:
          path: .venv
          key: pydeps-${{ hashFiles('**/poetry.lock') }}

      - name: Install deps
        run: poetry install --no-interaction --no-root
        if: steps.cache-deps.outputs.cache-hit != 'true'

      - name: Install module
        run: poetry install --no-interaction

      - name: Run tests
        run: poetry run pytest

      - name: Send to Codecov
        uses: codecov/codecov-action@v3
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
